<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 border-bottom bg-dark">
        <span class="fs-4">SMN</span>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-white text-decoration-none" href="/">Main</a>
            <a class="me-3 py-2 text-white text-decoration-none" href="/blog">Blog</a>
            <a class="me-3 py-2 text-white text-decoration-none" href="/blog/add">Add to blog</a>
            <a class="me-3 py-2 text-white text-decoration-none" href="/about">About us</a>
            <a class="me-3 py-2 text-white text-decoration-none" href="/sign-in">Sign in</a>
        </nav>
    </div>
</div>

